* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* Common */
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.116rem;
}

.desc {
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 166.667%;
}

.btn {
    --height: 50px;
    min-width: 118px;
    height: var(--height);
    padding: 0 16px;
    border-radius: 9999px;
    background: #171100;
    /*  */
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    /* 175% */
    display: inline-block;
    line-height: var(--height);
    text-align: center;
    /*  */
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 117.241%;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 126.316%;
}

/* Header */

.fixed-header {
    background: #FFFCF4;
    /*  */
    position: sticky;
    top: -28px;
    z-index: 999;
}

.fixed-header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.fixed-header nav {
    margin-left: auto;
}

.fixed-header nav ul {
    display: flex;
}

.fixed-header nav li a {
    color: #5F5B53;
    font-size: 1.6rem;
    line-height: 1.75;
    /* 175% */
    padding: 8px 21px;
}

.fixed-header nav li.active a,
.fixed-header nav li a:hover {
    color: #171100;
    font-size: 1.6rem;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    line-height: 1.75;
    /* 175% */
    position: relative;
}

.fixed-header nav li.active a::after {
    content: "";
    position: absolute;
    border-radius: 1px;
    width: 12px;
    height: 2px;
    /*  */
    background: #171100;
    left: 22px;
    bottom: 6px;
}

.fixed-header .action {
    padding-left: 49px;
}

.fixed-header .action .btn {
    min-width: 144px;
}

/* Hero */
/* Hero left */
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    height: 685px;
    position: relative;
}

.hero-img {
    width: 470px;
    height: 100%;
    object-fit: cover;
    /*  */
    border-radius: 20px;
    display: block;
}

.hero-summary {
    width: 270px;
    height: 244px;
    padding: 28px 24px;
    border-radius: 12px;
    background: #fff;
    /*  */
    position: absolute;
    bottom: 48px;
    right: 0;
    /*  */
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    /*  */
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}


.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
    /* 166.667% */
}

/* Hero right */
.hero .text-content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
}

.hero .cta-group .btn {
    --height: 64px;
    min-width: 180px;
    /*  */
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    /*  */
    background: var(--primary-color);
}

.hero .watch-video {
    border: none;
    display: flex;
    align-items: center;
    margin-left: 28px;
    background: none;
    /*  */
    padding: 1px 6px;
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 999px;
    /*  */
    display: flex;
    align-items: center;
    justify-content: center;
    /*  */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.67%;
}

.hero .desc.stats {
    margin-top: 8px;
}

.hero .desc.stats strong:first-child {
    padding-left: 0;
}

.hero .desc.stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727%;

    padding-right: 8px;
    padding-left: 28px;
}

/* Popular */
.popular {
    padding: 200px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
}

.popular-top .info {
    width: 458px;
}

.popular-top .info h2 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.76px;
    /*  */
}

.popular-top .info .desc {
    padding-top: 16px;
}

.popular-top .controls {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.popular-top .control-btn {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background: #fff;
    border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

/* Course list */

.popular .course-list {
    margin-top: 55px;
    display: flex;
    column-gap: 30px;
}

.popular .course-item {
    flex-grow: 1;
    height: 466px;
    background: #FFF;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.05);
}

/* 
.popular .course-item:hover .thumb {
    width: 100%;
} */

.course-item .thumb {
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.course-item .info {
    padding: 22px;
}

.course-item .info .head {
    display: flex;
    justify-content: space-between;
}

.course-item .head .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    /* 166.667% */
}

.course-item .head .rating {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.course-item .rating .value {
    color: #FEA31B;
    font-size: 1.6rem;
    line-height: 1.75;
    /* 175% */
}

.course-item .info .desc {
    font-size: 1.4rem;
    line-height: 185.714%;
    margin-top: 6px;
}

.course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.course-item .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.course-item .foot .btn {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 185.714%;
    border-radius: 999px;
    background: #171100;
    border: none;
}

.course-item .foot .btn:hover {
    background: var(--primary-color);
}